.u-section-1 {
  background-image: url("images/1d3db6c1-c007-4326-a437-be058516f74e.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 88px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 73px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 65px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: -25px auto 0 102px;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  background-image: none;
  margin: -25px auto 0 200px;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  background-image: none;
  margin: -25px 45px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  height: 25px;
  width: 25px;
  margin: -25px 0 20px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    align-self: center;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
    align-self: center;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
    align-self: center;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 568px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(0,0,0,1);
  margin: 43px 953px 0 0;
}

.u-section-3 .u-gallery-1 {
  height: 180px;
  margin-top: 9px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 10px;
  box-shadow: 4px 1px 3px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-back-slide-1 {
  transition-duration: 0.75s;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 10px;
  box-shadow: 4px 1px 3px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-back-slide-2 {
  transition-duration: 0.75s;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 10px;
  box-shadow: 4px 1px 3px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-back-slide-3 {
  transition-duration: 0.75s;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 10px;
  box-shadow: 4px 1px 3px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-back-slide-4 {
  transition-duration: 0.75s;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 10px;
  box-shadow: 4px 1px 3px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-back-slide-5 {
  transition-duration: 0.75s;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  margin-right: 10px;
  box-shadow: 4px 1px 3px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-back-slide-6 {
  transition-duration: 0.75s;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(0,0,0,1);
  margin: 34px 956px 0 0;
}

.u-section-3 .u-gallery-2 {
  height: 182px;
  margin-top: 9px;
  margin-bottom: 55px;
}

.u-section-3 .u-gallery-item-7 {
  margin-right: 14px;
  box-shadow: 4px 5px 3px 0px rgba(0,0,0,0.6);
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-8 {
  margin-right: 14px;
  box-shadow: 4px 5px 3px 0px rgba(0,0,0,0.6);
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-9 {
  margin-right: 14px;
  box-shadow: 4px 5px 3px 0px rgba(0,0,0,0.6);
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-10 {
  margin-right: 14px;
  box-shadow: 4px 5px 3px 0px rgba(0,0,0,0.6);
}

.u-section-3 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-11 {
  margin-right: 14px;
  box-shadow: 4px 5px 3px 0px rgba(0,0,0,0.6);
}

.u-section-3 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-12 {
  margin-right: 14px;
  box-shadow: 4px 5px 3px 0px rgba(0,0,0,0.6);
}

.u-section-3 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-3 .u-gallery-nav-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: none;
  left: auto;
  top: 77px;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 753px;
  }

  .u-section-3 .u-gallery-1 {
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 756px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 533px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 536px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 353px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 356px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 153px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 156px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 268px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(0,0,0,1);
  margin: 4px 959px 0 0;
}

.u-section-4 .u-gallery-1 {
  width: 1140px;
  margin-top: 4px;
  margin-bottom: 51px;
  height: 182px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(10, auto);
  grid-gap: 10px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 12px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 12px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 12px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 12px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-right: 12px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  margin-right: 12px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-7 {
  margin-right: 12px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-8 {
  margin-right: 12px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-9 {
  margin-right: 12px;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-10 {
  margin-right: 12px;
}

.u-section-4 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 759px;
  }

  .u-section-4 .u-gallery-1 {
    width: 940px;
    height: 150px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 539px;
  }

  .u-section-4 .u-gallery-1 {
    width: 720px;
    height: 460px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(5, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1236px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 359px;
  }

  .u-section-4 .u-gallery-1 {
    width: 540px;
    height: 1150px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1444px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 159px;
  }

  .u-section-4 .u-gallery-1 {
    width: 340px;
    height: 1358px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 355px;
}

.u-section-5 .u-group-1 {
  min-height: 259px;
  margin-top: 48px;
  margin-bottom: 48px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(0,0,0,1);
  margin: 6px 0 0;
}

.u-section-5 .u-text-2 {
  text-shadow: 2px 2px 3px rgba(0,0,0,1);
  margin: 20px 491px 0 0;
}

.u-section-5 .u-form-1 {
  height: 67px;
  margin: 20px 0 0;
}

.u-section-5 .u-form-group-1 {
  margin-left: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 291px;
    width: 589px;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    width: 320px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 180px;
}

.u-section-6 .u-social-icons-1 {
  height: 60px;
  min-height: 16px;
  width: 300px;
  min-width: 124px;
  white-space: nowrap;
  margin: 60px auto;
}

.u-section-6 .u-icon-1 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-6 .u-icon-2 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-6 .u-icon-3 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-6 .u-icon-4 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}